<main>
    <h1>Batlle Game!!</h1>
    <nav class="navbar navbar-expand-lg ">
        <div class="btn-menu  container-lg ">
            <h6 class="jogador">Jogador</h6>
        </div>
        <div class="btn-menu  container-lg ">
            <h6 class="monstro">Monstro</h6>
        </div>
    </nav>
    <nav class="nav navbar play">
        <div class="progress">
            <div class="progress-bar bg-success"></div>
        </div>

        <div class="progress">
            <div class="progress-bar bg-success"></div>
        </div>
    </nav>
    <h1>Comandos</h1>
    <nav class="navbar navbar-expand-lg ">
        <div class="btn-menu container-fluid ">
            <button id="atk" type="button " class="btn btn-primary btn-atack " min="0" max="100" step="5" value="50" (click)="getattackplay()">Ataque</button>
            <button id="atkEspecial " type="button " class="btn btn-danger btn-atack-special " (click)=" getattackplayespecial() ">Ataque Especial</button>
            <button id="curar " type="button " class="btn btn-success btn-cura " onclick="alert( 'Curar') ">Cura</button>
            <button type="button " class="btn btn-secondary btn-desisitir " routerLink='/home'>Desistir</button>
        </div>
    </nav>
    <div class="container-fluid ">
        <h1>Logs</h1>
        <table>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
            </tbody>
        </table>
    </div>
</main>