main {
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #008000;
}

.btn-atack {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    margin-right: 10 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.btn-atack-special {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.btn-cura {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.btn-desistir,
.btn-secondary {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: purple;
}

.btn-responsive {
    white-space: normal !important;
    Word-wrap: break-Word;
}

a {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.progress {
    width: 30%;
    height: 50px;
    margin-left: 50px;
}

.progress-bar {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #ccc;
    display: flex;
}

.play {
    width: 90%;
    height: 50%;
    margin-top: 40px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
}

.jogador {
    width: 30%;
    padding: 10px;
    margin-left: 20%;
    text-align: center;
}

.monstro {
    text-align: left;
    margin-left: 50%;
}