<main>
    <h1>Batlle Game!!</h1>
    <div class="btn-menu">
        <div class="btn-jogo">
            <a type="button" class="btn btn-outline-danger" routerLink="/jogo">
            Iniciar Jogo
        </a>
        </div>
        <div class="btn-home">
            <a type="button" class="btn btn-outline-success" routerLink="/home">
            Home
        </a>
        </div>
    </div>
    <div class="container-fluid ">
        <h1>Ranking</h1>
    </div>
</main>
