main {
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #008000;
}

h1 {
    animation: titulo 2s infinite alternate;
}

.btn-menu {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.btn-home {
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    animation: main-principal 2s infinite alternate;
}

.btn-inicio-jogo {
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    animation: main-principal 2s infinite alternate;
}

.btn-ranking {
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    animation: main-principal 2s infinite alternate;
}

@keyframes main-principal {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes titulo {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0px);
    }
}

;
